<div class="left-container">
    <div class="left-button">
    <%= button_to "Leave", leaves_path, method: :get,:class => "menu-buttons" %>
    </div>
    <div class="left-button">
    <%= button_to "Holiday", holidays_path, method: :get,:class => "menu-buttons" %>
    </div>
    <div class="left-button">
    <%= button_to "Employee Management", employees_path, method: :get,:class => "menu-buttons" %>
    </div>
    <div class="left-button">
    <%= button_to "Designation Management", designations_path, method: :get,:class => "menu-buttons" %>
    </div>
    <div class="left-button">
    <%= button_to "Project Management", projects_path, method: :get,:class => "menu-buttons" %>
    </div>
</div>