<div class="designation-main-cont">
<%= render "home/menu" %>
<div class="attendance-main-cont">
<div class="column-cont">
<div class="top-cont">
  <div class="total-cont">
    <div class="head-cont">
      <h5>Attendance</h5>
      <div>  
      <% if @c %>
        <div><p class="time"><span style="color:#608fd1;font-weight:bold">Login Time: </span><%= @c.login%></p></div>
        <div><p class="time"><span style="color:#608fd1;font-weight:bold">Logout Time: </span><%= @c.logout%></p></div>
        <%= button_to "logout", edit_attendance_path(@c),method: :get,class: "btn btn-danger"%>
      <% else %>
        <%= button_to "login", new_attendance_path,method: :get,class: "btn btn-primary"%>
      <% end %>
      </div>
    </div>
  </div>
  <div class="total-cont">
    <div class="head-cont">
      <h5>Last Week Details</h5>

      <% @last_five_loginloguts.each do |ll| %>
        <% if ll.logout != nil%>
        <div><p class="time"><span style="color:#608fd1;font-weight:bold">Total login time: </span><%= ((ll.logout-ll.login)/60)/60%> hours</p></div>
        <% else %>
        <div><p class="time"><span style="color:#608fd1;font-weight:bold">Total login time: </span><%= ll.login%> hours</p></div>
        <% end%>
        <% end%>

    </div>
  </div>
</div>
<div class="bottom-cont">
  <div class="total-cont">
    <div class="head-cont">
      <h5>Chart</h5>
    </div>
  </div>
  <div class="total-cont">
    <div class="head-cont">
      <h5>Some chart</h5>
    </div>
  </div>
  </div>
</div>
</div>
</div>

